.mainboxpropio{
    width: 100%;
    height: 768px;    
    background: white;
    position: absolute;
    top: 0%;    
}

.itemmenupropio {
    padding: 10px;
    border-left: 1px solid white;
    justify-content: right;
}

.item-menu-logo-propio{
    padding: 10px;
}

.dashboard-propio{
    width: 90%;
    height: 640px;    
    background: #E9E9E9;
    position: center;
    margin-top: 5px;
    margin-left: 5%;
    border: 1px solid #ADADAD;
    border-radius: 20px;
    box-shadow: 7px 7px 15px #999999;
}

.centrar-caja{
    margin-left: 35%;
}

.largo-inputs{
    width: 500px;
}

.boton-texto-blanco{
    color: white;
}